.task
    width: 100%
    display: flex
    align-items: center
    gap: 10px
    box-sizing: border-box
    padding: 10px
    border-radius: 0.4rem
    background-color: aqua

    .number
        font-size: 0.8rem
    .title
        flex: 1
        font-size: 0.8rem

    .options
        display: flex
        align-items: center
        gap: 5px

    button.btn-status
        width: 22px
        height: 22px
        border-radius: 50%
        background-color: red

    button
        display: flex
        justify-content: center
        align-items: center
        background-color: aqua
        svg
            width: 15px
            
